<?xml version="1.0" encoding="UTF-8" ?>
  <manifest>

  <remote name="hsae" fetch="ssh://tanqi@192.168.64.47:29418" review="https://192.168.64.47:8443" />
  <remote name="github" fetch="ssh://git@github.com/fengxixia"/>
  <default revision="E541" remote="hsae" sync-j="4" />

  <project name="Linux/s32g3/Common" path="components/Common" remote="hsae" />
  <project name="Linux/s32g3/ConfMMap" path="components/ConfMMap" remote="hsae"/>
  <project name="Linux/s32g3/OTA" path="components/OTA" remote="hsae"/>

  <project name="e541_build-system" path="build-system" remote="github" revision="main"/>

  </manifest>
