<?xml version="1.0" encoding="UTF-8" ?>
  <manifest>

  <remote name="hsae" fetch="ssh://tanqi@192.168.64.47:29418" review="https://192.168.64.47:8443" />
  <default revision="base" remote="hsae" sync-j="4" />

  <project name="Linux/s32g3/Common" path="components/Common" />
  <project name="Linux/s32g3/ConfMMap" path="components/ConfMMap" />
  </manifest>
